body{
    background-color: rgb(52, 50, 50);
}
/* navigation style */
.menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1em 2em;
}

.logo{
    color: #ffff;
    font-size: 20px;
}

.logo span {
    color: #f30606;
  }

.nav-bar li{
    padding: 1em;
}

.nav-bar li a{
    color: #ffff;
    text-decoration: none;
}

.nav-bar ul{
    list-style: none;
    display: flex;
}

.nav-bar a:hover {
    text-decoration: underline;
}
  
  .search-container {
    display: flex;
}
  
.search-container input {
    padding: 0.5em;
    border: none;
    border-radius: 4px 0 0 4px;
    outline: none;
}
  
.search-container button {
    padding: 0.5em;
    background-color: #ada8a8;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}
  
.search-container button:hover {
    background-color: #be8f8f;
}

.container{
    width: 100%;
    display: flex;
    align-content: flex-start;
}

/* left side style */
.container li a{
    color: #ffff;
    text-decoration: none;
}

.container ul{
    list-style: none;
}


.slider{
    display: flex;
    width: 100%;
}

.slider img{
    padding: 0.25rem;
    max-width: 80%;
    padding: .25rem;
    
}

.film-info{
    color: #ffff;
    border: 2px solid #ffff;
    margin: 0 1rem;
    
}